ul.lst-kix_4v4b1s1ac7ov-5 {
  list-style-type: none;
}
.lst-kix_97uxplfqeq7y-0 > li:before {
  content: "\0025cf  ";
}
ul.lst-kix_4v4b1s1ac7ov-4 {
  list-style-type: none;
}
ul.lst-kix_4v4b1s1ac7ov-7 {
  list-style-type: none;
}
ul.lst-kix_4v4b1s1ac7ov-6 {
  list-style-type: none;
}
ul.lst-kix_97uxplfqeq7y-0 {
  list-style-type: none;
}
.lst-kix_97uxplfqeq7y-2 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_4v4b1s1ac7ov-8 {
  list-style-type: none;
}
ul.lst-kix_97uxplfqeq7y-2 {
  list-style-type: none;
}
.lst-kix_97uxplfqeq7y-3 > li:before {
  content: "\0025cf  ";
}
ul.lst-kix_97uxplfqeq7y-1 {
  list-style-type: none;
}
ul.lst-kix_97uxplfqeq7y-4 {
  list-style-type: none;
}
ul.lst-kix_97uxplfqeq7y-3 {
  list-style-type: none;
}
ul.lst-kix_97uxplfqeq7y-6 {
  list-style-type: none;
}
ul.lst-kix_97uxplfqeq7y-5 {
  list-style-type: none;
}
ul.lst-kix_97uxplfqeq7y-8 {
  list-style-type: none;
}
ul.lst-kix_97uxplfqeq7y-7 {
  list-style-type: none;
}
.lst-kix_97uxplfqeq7y-1 > li:before {
  content: "\0025cb  ";
}
.lst-kix_4v4b1s1ac7ov-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_97uxplfqeq7y-8 > li:before {
  content: "\0025a0  ";
}
.lst-kix_4v4b1s1ac7ov-4 > li:before {
  content: "\0025cb  ";
}
.lst-kix_4v4b1s1ac7ov-5 > li:before {
  content: "\0025a0  ";
}
.lst-kix_97uxplfqeq7y-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_97uxplfqeq7y-7 > li:before {
  content: "\0025cb  ";
}
.lst-kix_4v4b1s1ac7ov-7 > li:before {
  content: "\0025cb  ";
}
.lst-kix_97uxplfqeq7y-4 > li:before {
  content: "\0025cb  ";
}
.lst-kix_4v4b1s1ac7ov-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_4v4b1s1ac7ov-8 > li:before {
  content: "\0025a0  ";
}
.lst-kix_97uxplfqeq7y-5 > li:before {
  content: "\0025a0  ";
}
li.li-bullet-0:before {
  margin-left: -18pt;
  white-space: nowrap;
  display: inline-block;
  min-width: 18pt;
}
.lst-kix_4v4b1s1ac7ov-2 > li:before {
  content: "\0025a0  ";
}
.lst-kix_4v4b1s1ac7ov-1 > li:before {
  content: "\0025cb  ";
}
.lst-kix_4v4b1s1ac7ov-0 > li:before {
  content: "\0025cf  ";
}
ul.lst-kix_4v4b1s1ac7ov-1 {
  list-style-type: none;
}
ul.lst-kix_4v4b1s1ac7ov-0 {
  list-style-type: none;
}
ul.lst-kix_4v4b1s1ac7ov-3 {
  list-style-type: none;
}
ul.lst-kix_4v4b1s1ac7ov-2 {
  list-style-type: none;
}
ol {
  margin: 0;
  padding: 0;
}
table td,
table th {
  padding: 0;
}
.c4 {
  margin-left: 72pt;
  padding-top: 0pt;
  padding-left: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c14 {
  padding-top: 0pt;
  padding-bottom: 3pt;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c7 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
  height: 11pt;
}
.c2 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 16pt;
  font-family: "Arial";
  font-style: normal;
}
.c6 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal;
}
.c15 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 26pt;
  font-family: "Arial";
  font-style: normal;
}
.c8 {
  margin-left: 36pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c1 {
  padding-top: 20pt;
  padding-bottom: 6pt;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c11 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 20pt;
  font-family: "Arial";
  font-style: normal;
}
.c0 {
  padding-top: 18pt;
  padding-bottom: 6pt;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c12 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c3 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: right;
}
.c9 {
  background-color: #ffffff;
  max-width: 451.4pt;
  padding: 72pt 72pt 72pt 72pt;
}
.c5 {
  padding: 0;
  margin: 0;
}
.c13 {
  margin-left: 72pt;
}
.c10 {
  font-style: italic;
}
.title {
  padding-top: 0pt;
  color: #000000;
  font-size: 26pt;
  padding-bottom: 3pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.subtitle {
  padding-top: 0pt;
  color: #666666;
  font-size: 15pt;
  padding-bottom: 16pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
li {
  color: #000000;
  font-size: 11pt;
  font-family: "Arial";
}
p {
  margin: 0;
  color: #000000;
  font-size: 11pt;
  font-family: "Arial";
}
h1 {
  padding-top: 20pt;
  color: #000000;
  font-size: 20pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h2 {
  padding-top: 18pt;
  color: #000000;
  font-size: 16pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h3 {
  padding-top: 16pt;
  color: #434343;
  font-size: 14pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h4 {
  padding-top: 14pt;
  color: #666666;
  font-size: 12pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h5 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h6 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left;
}
